<!DOCTYPE html>
<html lang="en">
<head>
    <title>QR Code App</title>
    <link rel = "icon" href =  "../static/qr-logo.png" type = "image/x-icon"> 
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="heading">
        <img src = "../static/home-logo.jpg" width="300" height="250">
        <br><br>
        QR Code
    </div>
    <!-- <div class="wrapper">
        <a href="generate.html"><span>Generate QR Code</span></a>
    </div> -->
    <div class="buttons">
        <button class="bubbly-button" onclick="generate()">Generate</button>
        <button class="bubbly-button" onclick="decode()">Decode</button>
    </div>
    <script src="../static/home.js"></script>
</body>
</html>